head
  title COMPANY
  // Latest compiled and minified CSS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
#head_box.container(style='margin-top: 1%')
  .panel.panel-default
    .panel-body
      #head_left.col-sm-6
        center
          img.img-responsive(src='https://goo.gl/f9Zxny', width='450', height='178')
      #head_right.col-sm-6
        center
          form(action='/home_jade' ,method='post')
            table
              tr
                th
                  h4 User :
                th #{currentUsers.user}
              tr
                th
                  h4 Name :
                th #{currentUsers.name}
              tr
                th
                  h4 Department :
                th #{currentUsers.depart}
              tr
                th
                th(style='text-align: right;')
                  input(type='submit', value='Logout')
  nav.navbar.navbar-default
    .container
      ul.nav.navbar-nav
        li
          a(href='/home_jade') เวลาเข้า-ออกงาน
        li
          a(href='/last_jade') ประวัติลางาน
        li
          a(href='/report_jade') แจ้งลางาน
  .panel.panel-default
    .panel-heading
      h3.panel-title เวลาเข้า-ออกงาน
    .panel-body
      table.table
        tr
          th วันที่
          th เข้า
          th ออก
        tr
          th #{showday.date1}
          th #{showday.in1}
          th #{showday.out1}
        tr
          th #{showday.date2}
          th #{showday.in2}
          th #{showday.out2}
        tr
          th #{showday.date3}
          th #{showday.in3}
          th #{showday.out3}
        tr
          th #{showday.date4}
          th #{showday.in4}
          th #{showday.out4}
